*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #9371f3;
    --text-color: #fff;
}

// Common
body {
    background: url(../assets/img/background-dark.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &.light {
        background: url(../assets/img/background-light.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        --primary-color: #fe9835;
    }
}

.btn {
    font-size: 25px;
    padding: 13px;
    width: 49px;
    height: 49px;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.active {
    color: var(--primary-color);
}

// Main css
#wrapper {
    position: relative;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    color: var(--text-color);
}

.header {
    height: 7dvh;
    margin-bottom: 1dvh;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to bottom, #a9c9ff 0%, #ffbbec 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);

    &.light {
        background: linear-gradient(to bottom, #fe9835 0%, #f9f9b1 100%);
        -webkit-background-clip: text;
        text-shadow: none;
    }
}

#musicplayer {
    position: fixed;
    top: 0;
    width: inherit;
    max-width: inherit;
    padding: 0 8px;
}

.dashboard {
    height: 51dvh;
    background-image: linear-gradient(
        -45deg,
        rgb(255, 60, 172, 0.6) 0%,
        rgb(120, 75, 160, 0.4) 50%,
        rgb(43, 134, 197, 0.3) 100%
    );
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    padding-top: 0;
    animation: dashboardUp ease-in-out 0.7s;

    &.light {
        background-image: linear-gradient(-145deg, rgba(68, 194, 255, 0.7) 0%, rgb(249 147 147 / 40%) 80%);
    }
    //Start Header-Dashboard
    &__header {
        height: 6dvh;
        margin-bottom: 1dvh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .status {
            color: var(--primary-color);
        }

        .btn-moon {
            display: none;
            animation: moonDownIn ease 0.6s;

            &:hover {
                transition: 0.6s ease;
                color: #9371f3;
                rotate: 60deg;
            }
        }

        .btn-sun {
            animation: sunUpIn ease 0.6s;

            &:hover {
                transition: 0.6s ease;
                color: #fe9835;
                rotate: 60deg;
            }
        }

        .switchtheme.light {
            .btn-moon {
                display: inline-block;
            }

            .btn-sun {
                display: none;
            }
        }
    }
    //End Header-Dashboard

    &__cd {
        height: 24dvh;
        width: 24dvh;
        display: flex;
        margin: auto;
    }

    &__cd-thumb {
        width: 100%;
        border-radius: 50%;
        background-size: cover;
        box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.5);
    }

    &__songname {
        margin: 2dvh 0;
        height: 3dvh;
        font-size: 20px;
    }

    &__control {
        height: 7dvh;
        display: flex;
        justify-content: space-between;

        .btn-togger-play {
            background-color: var(--primary-color);
            border-radius: 50%;
            width: 54px;
            height: 54px;
        }

        .btn-pause,
        .btn-play {
            font-size: 28px;
            &:hover {
                opacity: 0.6;
                color: #fff;
            }
        }

        .btn-pause {
            display: none;
        }

        .btn-togger-play.playing {
            .btn-pause {
                display: inline-block;
            }

            .btn-play {
                display: none;
            }
        }

        //volume
        .btn-volume {
            position: relative;
            &-low {
                display: none;
            }

            &-mute {
                display: none;
            }

            &.mute {
                .btn-volume-mute {
                    display: inline-block;
                }

                .btn-volume-high {
                    display: none;
                }

                .btn-volume-low {
                    display: none;
                }
            }

            &.low {
                .btn-volume-low {
                    display: inline-block;
                }

                .btn-volume-high {
                    display: none;
                }

                .btn-volume-mute {
                    display: none;
                }
            }

            .volume-bar {
                position: absolute;
                top: -55px;
                right: -24px;
                transform: rotate(-90deg);
                width: 90px;
                transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
                cursor: pointer;
                appearance: none;
                border-radius: 10px;
                height: 12px;
                visibility: hidden;
                background: linear-gradient(to right, rgb(147, 113, 243) 100%, rgb(214, 214, 214) 100%);
            }

            &:hover {
                .volume-bar {
                    visibility: visible;
                }
            }
        }
    }

    &__duration-bar {
        height: 4dvh;
        margin: 1dvh 0;
        display: flex;
        padding: 6px 0;
        align-items: center;

        .progress {
            appearance: none;
            height: 5px;
            width: 100%;
            margin: 0 10px;
            border-radius: 10px;
            transition: opacity 0.2s ease-in-out;
            outline: none;

            &:hover {
                height: 16px;
                cursor: pointer;
            }
        }
    }
}

.playlist {
    height: 34dvh;
    margin-top: 60dvh;
    padding: 10px 20px 0;
    overflow: auto;
    margin-bottom: 1dvh;

    &.mini {
        height: 68dvh;
        margin: 1dvh;
        margin-bottom: 0;
        padding: 10px;
    }

    .song {
        background-image: linear-gradient(
            -45deg,
            rgb(255, 60, 172, 0.5) 0%,
            rgb(120, 75, 160, 0.5) 50%,
            rgb(43, 134, 197, 0.5) 100%
        );
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.4);

        padding: 8px 16px 8px 26px;
        border-radius: 14px;
        margin-bottom: 10px;

        &.light {
            background-image: none;
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }

        &__thumb {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-size: cover;
            margin-right: 20px;
        }

        &__body {
            flex: 1;

            .title {
                font-size: 16px;
                font-weight: 600;
            }

            .author {
                font-size: 14px;
                font-weight: 300;
                font-style: italic;
                color: rgba(255, 255, 255, 0.8);
            }
        }

        &:active {
            opacity: 0.8;
        }

        .option-btn {
            font-size: 20px;
        }

        &.songplaying {
            background-color: var(--primary-color);
        }
    }
}

.playlistplus {
    &.mini {
        height: 86dvh;
        width: 96dvw;
        margin: 8dvh 2dvw 1dvh 2dvw;
        max-width: inherit;
        background-image: linear-gradient(
            -45deg,
            rgb(255, 60, 172, 0.6) 0%,
            rgb(120, 75, 160, 0.4) 50%,
            rgb(43, 134, 197, 0.3) 100%
        );
        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.4);
        border-radius: 20px;

        &.light {
            background-image: linear-gradient(-145deg, rgba(68, 194, 255, 0.7) 0%, rgb(249 147 147 / 40%) 80%);
        }
    }

    &__header {
        height: 7dvh;
        padding: 10px 0px 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .iconplaylist {
            font-size: 23px;
        }
    }
}
.playermini {
    height: 10dvh;
    background-image: linear-gradient(
        -45deg,
        rgb(255, 60, 172, 0.5) 0%,
        rgb(120, 75, 160, 0.5) 50%,
        rgb(43, 134, 197, 0.5) 100%
    );
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 0;
    border-radius: 20px;
    display: none;
    animation: playerMiniDown 0.7s ease-in-out;
    position: relative;
    box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.5);
    overflow: hidden;

    &__timer {
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        background-color: #fff;
        border-radius: 20px;
    }

    &__thumb {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-size: cover;
        margin-right: 20px;
        box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.5);
    }

    &__body {
        flex: 1;

        &__title {
            font-size: 16px;
            font-weight: 600;
        }

        &__author {
            font-size: 14px;
            font-weight: 300;
            font-style: italic;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-togger-play {
            background-color: var(--primary-color);
            border-radius: 50%;
            width: 49px;
            height: 49px;
        }

        .btn-pause,
        .btn-play {
            margin-left: 3px;
            &:hover {
                opacity: 0.6;
                color: #fff;
            }
        }

        .btn-pause {
            display: none;
        }

        .btn-togger-play.playing {
            .btn-pause {
                display: inline-block;
            }

            .btn-play {
                display: none;
            }
        }
    }
}

#dev {
    height: 5dvh;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-shadow: 5px 5px 10px var(--primary-color);
}

#linkfb {
    text-decoration: none;
    color: #fff;
}

.icon-facebook {
    padding: 6px;
    color: #5a228f;
}

@keyframes moonDownIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes sunUpIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes playerMiniDown {
    from {
        opacity: 0.6;
        transform: translateY(-580px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dashboardUp {
    from {
        opacity: 0.4;
        transform: translateY(580px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@import './responsive';
