*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.btn {
  font-size: 25px;
  padding: 13px;
  width: 49px;
  height: 49px;
}
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.active {
  color: #9371f3;
}

.songplaying {
  background-color: #9371f3 !important;
}

body {
  background: url(../assets/img/background-dark.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#wrapper {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
}

#header {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(to bottom, #a9c9ff 0%, #ffbbec 100%);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

#musicplayer {
  position: fixed;
  top: 0;
  width: inherit;
  max-width: inherit;
  padding: 0 8px;
}

.dashboard {
  background-image: linear-gradient(-45deg, rgba(255, 60, 172, 0.6) 0%, rgba(120, 75, 160, 0.4) 50%, rgba(43, 134, 197, 0.3) 100%);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  padding-top: 0;
  animation: dashboardUp ease-in-out 0.7s;
}
.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__header .status {
  color: #9371f3;
}
.dashboard__header .btn-moon {
  display: none;
  animation: moonDownIn ease 0.6s;
}
.dashboard__header .btn-moon:hover {
  transition: 0.6s ease;
  color: #9371f3;
  rotate: 60deg;
}
.dashboard__header .btn-sun {
  animation: sunUpIn ease 0.6s;
}
.dashboard__header .btn-sun:hover {
  transition: 0.6s ease;
  color: #9371f3;
  rotate: 60deg;
}
.dashboard__header .switchtheme.light .btn-moon {
  display: inline-block;
}
.dashboard__header .switchtheme.light .btn-sun {
  display: none;
}
.dashboard__cd {
  display: flex;
  width: 200px;
  margin: auto;
}
.dashboard__cd-thumb {
  margin: 4px 0 10px 0;
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.5);
  padding-top: 100%;
}
.dashboard__songname {
  font-size: 20px;
}
.dashboard__duration-bar {
  display: flex;
  padding: 6px 0;
  align-items: center;
}
.dashboard__duration-bar .progress {
  appearance: none;
  height: 5px;
  width: 100%;
  margin: 0 10px;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}
.dashboard__duration-bar .progress:hover {
  height: 16px;
  cursor: pointer;
}
.dashboard__control {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.dashboard__control .btn-togger-play {
  background-color: #9371f3;
  border-radius: 50%;
  width: 54px;
  height: 54px;
}
.dashboard__control .btn-pause,
.dashboard__control .btn-play {
  font-size: 28px;
}
.dashboard__control .btn-pause:hover,
.dashboard__control .btn-play:hover {
  opacity: 0.6;
  color: #fff;
}
.dashboard__control .btn-pause {
  display: none;
}
.dashboard__control .btn-togger-play.playing .btn-pause {
  display: inline-block;
}
.dashboard__control .btn-togger-play.playing .btn-play {
  display: none;
}
.dashboard__control .btn-volume {
  position: relative;
}
.dashboard__control .btn-volume-low {
  display: none;
}
.dashboard__control .btn-volume-mute {
  display: none;
}
.dashboard__control .btn-volume.mute .btn-volume-mute {
  display: inline-block;
}
.dashboard__control .btn-volume.mute .btn-volume-high {
  display: none;
}
.dashboard__control .btn-volume.mute .btn-volume-low {
  display: none;
}
.dashboard__control .btn-volume.low .btn-volume-low {
  display: inline-block;
}
.dashboard__control .btn-volume.low .btn-volume-high {
  display: none;
}
.dashboard__control .btn-volume.low .btn-volume-mute {
  display: none;
}
.dashboard__control .btn-volume .volume-bar {
  position: absolute;
  top: -55px;
  right: -24px;
  transform: rotate(-90deg);
  width: 90px;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  cursor: pointer;
  appearance: none;
  border-radius: 10px;
  height: 12px;
  visibility: hidden;
  background: linear-gradient(to right, rgb(147, 113, 243) 100%, rgb(214, 214, 214) 100%);
}
.dashboard__control .btn-volume:hover .volume-bar {
  visibility: visible;
}

.playlistplus.mini {
  margin-top: 60px;
  max-width: 480px;
  width: 100%;
  background-image: linear-gradient(-45deg, rgba(255, 60, 172, 0.6) 0%, rgba(120, 75, 160, 0.4) 50%, rgba(43, 134, 197, 0.3) 100%);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px 3px rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}
.playlistplus__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.playlistplus__header .iconplaylist {
  font-size: 23px;
}

.playlist {
  margin-top: 484px;
  padding: 0 20px;
  height: 57vh;
  overflow: auto;
}
.playlist.mini {
  margin: 0 10px;
  height: 66vh;
  padding: 10px;
  padding-top: 0px;
}
.playlist .song {
  background-image: linear-gradient(-45deg, rgba(255, 60, 172, 0.5) 0%, rgba(120, 75, 160, 0.5) 50%, rgba(43, 134, 197, 0.5) 100%);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px 8px 26px;
  border-radius: 14px;
  margin-bottom: 10px;
}
.playlist .song:hover {
  opacity: 0.8;
  cursor: pointer;
}
.playlist .song__thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 20px;
}
.playlist .song__body {
  flex: 1;
}
.playlist .song__body .title {
  font-size: 16px;
  font-weight: 600;
}
.playlist .song__body .author {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}
.playlist .song:active {
  opacity: 0.8;
}
.playlist .song .option-btn {
  font-size: 20px;
}

.playermini {
  background-image: linear-gradient(-45deg, rgba(255, 60, 172, 0.5) 0%, rgba(120, 75, 160, 0.5) 50%, rgba(43, 134, 197, 0.5) 100%);
  background-color: #9371f3;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 0;
  border-radius: 20px;
  display: none;
  margin-top: 10px;
  animation: playerMiniDown 0.7s ease-in-out;
}
.playermini__thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 20px;
}
.playermini__body {
  flex: 1;
}
.playermini__body__title {
  font-size: 16px;
  font-weight: 600;
}
.playermini__body__author {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
}
.playermini__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.playermini__control .btn-togger-play {
  background-color: #9371f3;
  border-radius: 50%;
  width: 49px;
  height: 49px;
}
.playermini__control .btn-pause,
.playermini__control .btn-play {
  margin-left: 3px;
}
.playermini__control .btn-pause:hover,
.playermini__control .btn-play:hover {
  opacity: 0.6;
  color: #fff;
}
.playermini__control .btn-pause {
  display: none;
}
.playermini__control .btn-togger-play.playing .btn-pause {
  display: inline-block;
}
.playermini__control .btn-togger-play.playing .btn-play {
  display: none;
}

#dev {
  margin: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  text-shadow: 5px 5px 10px #9371f3;
}

#linkfb {
  text-decoration: none;
  color: #fff;
}

.icon-facebook {
  padding: 6px;
  color: #5a228f;
}

@keyframes moonDownIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes sunUpIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes playerMiniDown {
  from {
    opacity: 0.6;
    transform: translateY(-580px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dashboardUp {
  from {
    opacity: 0.4;
    transform: translateY(580px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (width < 480px) {
  .btn:hover {
    opacity: 1;
  }
  .playlist.mini {
    height: 70vh;
  }
}

/*# sourceMappingURL=main.css.map */
