#dev {
    height: 6dvh;
    line-height: 6dvh;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    text-shadow: 5px 5px 10px var(--primary-color);
}

#linkedin {
    text-decoration: none;
    color: #fff;
}

.icon-linkedin {
    padding: 6px;
    color: #5a228f;
}
